{% extends "base.html" %} {% block content %} {% if user.is_authenticated %}
<div class="container" style="text-align: center">
  <h2 style="text-align: center; color: #007bff">Trainees List</h2>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">image</th>
        <th scope="col">Operations</th>
      </tr>
    </thead>
    <tbody>
      {% for trainee in all_trainees %}
      <tr>
        <th scope="row">{{trainee.id}}</th>
        <td>{{trainee.name}}</td>
        <td>{{trainee.email}}</td>
        <td>
          <img
            src="{{ trainee.image.url }}"
            alt="Trainee Image"
            style="
              width: 50px;
              height: 50px;
              object-fit: cover;
              border-radius: 50%;
            "
          />
        </td>
        <td>
          <a href="{%url 'update_trainee'  trainee.id %}" class="btn btn-info"
            >Update</a
          >
          <a href="{%url 'delete_trainee'  trainee.id %}" class="btn btn-danger"
            >Delete</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a
    href="{%url 'add_trainee'  %}"
    style="text-align: center; margin: 50px 0px"
    class="btn btn-success align-center"
    >Add Trainee</a
  >
</div>
{% else %}
<div class="alert alert-danger text-center h1" role="alert">
  You should Login In The First
</div>
{% endif %} {% endblock %}
