{% extends "base.html" %} {% block content %}
<div class="container" style="text-align: center">
  <h2 style="text-align: center; color: #007bff">Trainees List</h2>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Course</th>
        <th scope="col">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>abdo</td>
        <td>abdo@gmail.com</td>
        <td>Python fullstarck course</td>
        <td>
          <a href="{%url 'update_trainee'  %}" class="btn btn-info">Update</a>
          <a href="{%url 'delete_trainee'  %}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  <a
    href="{%url 'add_trainee'  %}"
    style="text-align: center; margin: 50px 0px"
    class="btn btn-success align-center"
    >Add Trainee</a
  >
</div>
{% endblock %}
