{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{%block tit%} Bootstran {%endblock%}</title>
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"
      name="viewport"
    />
    <link rel="stylesheet" href="{%static 'assets/css/bootstrap.min.css'%}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    />
    <link rel="stylesheet" href="{%static 'assets/css/ready.css'%}" />
    <link rel="stylesheet" href="{%static 'assets/css/demo.css'%}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"
        >ITI <i class="la la-heart heart text-danger"></i
      ></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{%url 'trainee_list'%}"
              >Trainees <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'course_list'%}">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Trackes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
          </li>
        </ul>
      </div>
    </nav>
    {%block content%} {%endblock%}

    <footer class="footer">
      <div class="container-fluid">
        <nav class="pull-left">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="http://www.themekita.com">
                ThemeKita
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Help </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://themewagon.com/license/#free-item"
              >
                Licenses
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright ml-auto">
          2025, made with <i class="la la-heart heart text-danger"></i> Eng Abdo
          Sabry
        </div>
      </div>
    </footer>
  </body>
  <script src="assets/js/core/jquery.3.2.1.min.js"></script>
  <script src="assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
  <script src="assets/js/core/popper.min.js"></script>
  <script src="assets/js/core/bootstrap.min.js"></script>
  <script src="assets/js/plugin/chartist/chartist.min.js"></script>
  <script src="assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
  <script src="assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
  <script src="assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
  <script src="assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
  <script src="assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
  <script src="assets/js/plugin/chart-circle/circles.min.js"></script>
  <script src="assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
  <script src="assets/js/ready.min.js"></script>
  <script src="assets/js/demo.js"></script>
</html>
